/* ===========================================
   NAVBAR RESPONSIVE
=========================================== */

@media(max-width:992px){

    .nav-links{

        position:fixed;

        top:85px;

        right:-100%;

        width:280px;

        height:calc(100vh - 85px);

        background:#090D18;

        flex-direction:column;

        justify-content:flex-start;

        padding-top:50px;

        transition:.4s;

        border-left:1px solid rgba(255,255,255,.08);

    }

    .nav-links.active{

        right:0;

    }

    .menu-btn{

        display:flex;

    }

    .resume-btn{

        display:none;

    }

}
/* ===================================
          HERO RESPONSIVE
=================================== */

@media(max-width:1100px){

.hero-container{

grid-template-columns:1fr;

text-align:center;

}

.hero-left{

align-items:center;

}

.hero-left p{

max-width:100%;

}

.hero-buttons{

justify-content:center;

}

.hero-social{

justify-content:center;

margin-bottom:70px;

}

.hero-left h1{

font-size:58px;

}

}

@media(max-width:768px){

.hero-left h1{

font-size:44px;

}

.hero-left h2{

font-size:24px;

}

.hero-left p{

font-size:16px;

}

.hero-buttons{

flex-direction:column;

width:100%;

}

.hero-buttons .btn{

width:100%;

}

}

/* ==============================
      PROFILE RESPONSIVE
================================ */

@media(max-width:1100px){

.profile-wrapper{

width:350px;

height:350px;

margin:auto;

}

.profile-image{

width:270px;

height:270px;

}

.profile-ring{

width:320px;

height:320px;

}

.profile-ring.second{

width:350px;

height:350px;

}

.profile-ring.third{

width:390px;

height:390px;

}

}
/* ==============================
      FLOATING CARDS
================================ */

@media(max-width:1100px){

.card-one{

left:-20px;

top:-10px;

}

.card-two{

right:-20px;

top:80px;

}

.card-three{

bottom:-20px;

left:-10px;

}

}

@media(max-width:768px){

.floating-card{

padding:12px 16px;

}

.floating-card span{

font-size:13px;

}

.floating-card i{

font-size:18px;

}

.card-one{

top:-10px;

left:0;

}

.card-two{

right:0;

top:60px;

}

.card-three{

bottom:-10px;

left:0;

}

}
@media(max-width:768px){

.gradient-circle{

opacity:.22;

filter:blur(100px);

}

.grid-overlay{

background-size:45px 45px;

}

}
@media(max-width:992px){

.about-grid{

grid-template-columns:1fr;

}

.section-heading h2{

font-size:40px;

}

}
@media(max-width:900px){

.skills-grid{

grid-template-columns:1fr;

}

}
@media(max-width:992px){

.coding-grid{

grid-template-columns:1fr;

}

}
@media(max-width:1100px){

.featured-project{

grid-template-columns:1fr;

}

.project-info{

order:2;

}

.project-showcase{

order:1;

}

.project-info h3{

font-size:34px;

}

}

@media(max-width:900px){

.project-story{

grid-template-columns:1fr;

}

}



@media(max-width:900px){

.project-metrics{

grid-template-columns:repeat(2,1fr);

}

}

@media(max-width:600px){

.project-metrics{

grid-template-columns:1fr;

}

}

@media(max-width:900px){

.achievement-grid{

grid-template-columns:1fr;

}

}

@media(max-width:1000px){

.contact-wrapper{

grid-template-columns:1fr;

}

.contact-form{

padding:35px;

}

}

@media(max-width:600px){

.contact-card{

flex-direction:column;

text-align:center;

}

.social-links{

justify-content:center;

}

}

@media(max-width:768px){

.footer-top{

flex-direction:column;

text-align:center;

}

.footer-bottom{

flex-direction:column;

text-align:center;

}

.footer-links{

justify-content:center;

}

}


@media(max-width:768px){

.journey-line{

padding-left:30px;

}

.journey-dot{

left:-29px;

width:18px;

height:18px;

}

.journey-content{

padding:24px;

}

.journey-content h3{

font-size:22px;

}

}




@media(max-width:992px){

.cursor,

.cursor-blur{

display:none;

}

}